<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <style>
    a {color: inherit; text-decoration: none; outline: none; }
    a:hover, a:active {text-decoration: none; color:inherit; }
    .menu { display: flex; justify-content: space-around; width: 100%; box-sizing: border-box; }
    .menu li { border: 1px solid; list-style: none; border-radius: 10px; padding: 10px; }
    .menu li:hover { background-color: #61abf9; }
  </style>
</head>
<body>
  <h2>메인 페이지</h2>

  <ul class="menu">
    <li><a href="/">메인 페이지</a></li>
    <li><a href="/students">학생 전체 리스트</a></li>
    <li><a href="/admin">ADMIN 페이지</a></li>
  </ul>

  <main>
    <p>메인 페이지</p>
  </main>

</body>
</html>