<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>글 수정</title>
</head>
<body>
  <header>
    <h2>글 수정</h2>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/member/login/">로그인</a></li>
      <li><a href="/member/register/">회원가입</a></li>
      <li><a href="/board/">게시판 리스트</a></li>
    </ul>

  </header>
</body>
</html>